<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rtoosh.provider">

    <uses-sdk
        android:minSdkVersion="18"
        tools:overrideLibrary="com.tsongkha.spinnerdatepicker" />

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CLEAR_APP_CACHE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".model.custom.Application"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_provider_logo"
        android:roundIcon="@mipmap/ic_provider_logo_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon,android:allowBackup,android:label">
        <activity android:name=".views.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".views.IntroSliderActivity" />
        <activity
            android:name=".views.MainActivity"
            android:launchMode="singleTask" />
        <activity android:name=".views.OrderDetailsActivity" />
        <activity android:name=".views.ServiceActivity" />
        <activity
            android:name=".views.PurchaseDetailsActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".views.PhoneVerificationActivity" />
        <activity android:name=".views.OtpActivity" />
        <activity
            android:name=".views.RegistrationActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".views.RegisterIDActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".views.RegisterOrderActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".views.RegisterServiceActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".views.RegisterInfoActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".views.RequestsActivity" />
        <activity android:name=".views.RequestsDetailActivity" />
        <activity android:name=".views.ScheduleWorkActivity" />
        <activity android:name=".views.ReportActivity" />
        <activity android:name=".views.ContactActivity" />
        <activity android:name=".views.ProfileActivity" />
        <activity android:name=".views.WalletActivity" />
        <activity android:name=".views.PortfolioActivity" />
        <activity android:name=".views.CalendarActivity" />
        <activity android:name=".views.SettingsActivity" />
        <activity android:name=".views.ReviewsActivity" />
        <activity android:name=".views.EditDocActivity" />
        <activity android:name=".views.SpecialOffersActivity" />
        <activity android:name=".views.PasswordActivity" />
        <activity android:name=".views.TermsConditionsActivity"/>

        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="false" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <service android:name=".controller.NotificationController"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

    </application>

</manifest>